@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #fafafa;
}

.row, .conatiner-xxl, ul, li{
    padding: 0%;
    margin: 0%;
}

/* ^^^ style above for all pages ^^^ */

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15vh 15vw;
}

.bg-login{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #bdbdbd;
}

.left{
    height: 100%;
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    background-image: url(../asset/login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%!important;
    border-radius: 0 20px 20px 0;
}

.wrapped{
    width: 18vw;
}

.header-login{
    /* font-weight: 500; */
    /* margin-bottom: 40px; */
    color: #303642;
}

.label-login{
    margin: 0%;
    font-weight:bold;
    font-size: 17px;
    color: #303642;
    margin: 35px 0 3px 0;
}

.input-login{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #c8cddb;
    width: 100%;
}

.input-login:nth-child(1){
    width: 85%;
    border-radius: 5px 0px 0px 5px;
}

input::placeholder{
    color: #c8cddb;
}

.pss{
    /* margin  : 0.82% 0 0 16.5%; */
    position: fixed;
    font-size: 15px;
    cursor: pointer;
}

.pass{
    display: flex;
}

.see{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    border-radius: 0 5px 5px 0;
    background-color: #c8cddb;
    color: #fff;
}

#btn-login{
    width: 100%;
    margin-top: 40px;
    border-radius: 5px;
}

#btn-login, .btn-find, .btn-crete, .btn-save, .btn-ck{
    padding: 10px;
    color: white;
    font-weight: bold!important;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, #963dbf, #4a3dbf, #963dbf);
    background-size: 300%;
    transition: all .7s ease-in-out!important;
}

#btn-login:hover, .btn-find:hover, .btn-crete:hover, .btn-ck:hover, .btn-save:hover{
    background-position: 100% 0;
}

/* ^^^ style above for login ^^^ */

.menu-bar{
    background-color: #ececec;
    box-shadow: 1px 1px 4px #ddd;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    position: relative;
}

.main{
    margin: 0%;
    padding: 0%;
}

.profile{
    width: 100%;
    height: 15vh;
    background-color: #f9f9f9f9;
    border-radius: 0 0 5px 5px;
    box-shadow: -2px 3px 3px #ccc;
    display: flex;
    align-items: center;
}

.profile .col-7{
    padding: 0%;
    margin: 0%;
}

.img-profile{
    display: flex;
    justify-content: center;
}

.img-profile img{
    border: 3px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #bbb;
}

.wellcome{
    padding: 0%;
    margin: 0%;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.name{
    padding: 0%;
    margin: 0%;
}

.main{
    padding: 8px;
}

iframe{
    height: 100%;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.btn-menu{
    display: flex;
    padding-left: 1vw;
    width: 96%;
    height: 5vh;
    margin-top: 2vh;

}

.btn-cls{
    color: #292D32!important;
    padding: auto 20px!important;
}

.btn-menu, .btn-cls{
    align-items: center;
    border-radius: 3px;
    /* background-color: #fafafa; */
    border: none!important;
    box-shadow: 1px 1px 5px #ccc;
    cursor: pointer;
    transition: all .5s ease-in-out!important;
    background-image: linear-gradient(45deg, #fafafa, #fafafa, #4a3dbf, #963dbf);
    background-size: 300%;
}

.btn-cls:hover{
    background-position: 98.5% 0;
    color: #fff!important;
    font-weight: bold;
}

.btn-menu:hover{
    background-position: 98.5% 0;
    color: #fff;
    font-weight: bold;
}

.active{
    font-weight: bold;
    background-image: linear-gradient(45deg, #963dbf, #4a3dbf, #963dbf);
    background-size: 300%;
    transition: all .5s ease-in-out;
    color: white;
}

.active:hover{
    background-position: 100% 0;
}



.btn-logout{
    /* border: 2px solid #cc0000; */
    border: none;
    width: 100%;
    height: 5vh;
    border-radius: 0 5px 5px 0;
    margin-bottom: .8vh;
    box-shadow: -1px -1px 8px #ccc;
    /* background-image: linear-gradient(45deg, #cc0000, #cc0000, #fafafa, #fafafa);
    background-size: 300%;
    background-position: 100% 0; */
    background-color: #fafafa;
    color: #cc0000;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.btn-logout:hover{
    /* background-position: 0% 0; */
    background-color: #cc0000;
    color: #fff;
}

/* ^^^ style above for dashboard ^^^ */

.main-dashboard{
    padding: 60px;
    min-height: 90vh!important;
    padding-bottom: 0;
}

.main-dashboard h1{
    font-family: sans-serif!important;
    font-size: 30px;
    font-weight: 700;
}

.main-dashboard hr{
    margin: 0;
}

.bg-chart{
    padding: 0%!important;
    margin: 0%!important;
    width: 100%;
    /* display: flex; */
}

.col{
    padding: 0%!important;
    margin: 0%!important;
    width: 100%;
    display: flex;
    /* margin: 2.5%; */
}

.col .card-dashboard, .col:nth-child(2) .card-dcategory{
    width: 31.63%!important;
    margin: 1.67%!important;
}

.col:nth-child(2) .card-statistic{
    width: 69.6%!important;
    margin: 1.67%!important;
}

.col .ds-card{
    background-color: #fff;
    box-shadow: 0px 0px 7px #dddddd;
    padding: 1%!important;
    border-radius: 6px;
    color: #292D32;
    /* border-bottom: 3px solid #963dbf; */
}

.wrrap{
    display: flex;
    height: 90%;
    
    /* width: ; */
}

#chart-drugs{
    /* width: 100%!important;
    height: 80%!important; */
    margin-right: 1%;
}

.lep{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%!important;
}

.rek{
    height: 100%!important;
    width: 34%!important;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rek .this{
    /* background-image: linear-gradient(45deg, #963dbf, #4a3dbf, #963dbf); */
    background-size: 300%;
    transition: all .5s ease-in-out;
    padding: 2%;
    /* color: #fff; */
    border-radius: 4px;
    border-bottom: 1px solid #ececec;
}

.rek .this p{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 300;
    /* padding-bottom: .%; */
    /* opacity: 80%; */
}

.rek .this p{
    font-family: 'Poppins';
    
}

.rek .this:hover{
    background-position: 100% 0;
}

.categ{
    width: 100%!important;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cate{
    width: 300px!important;
    height: 300px!important;
    /* display: flex;
    justify-content: center; */
}

.bg-ds{
    margin: 75px;
    margin-bottom: 0;
    width: 90%;
    position: relative;
    padding-bottom: 80px;
    min-height: 70vh;
    /* height: 90vh; */
}

.find{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.plek .wrp .find{
    justify-content: center;
}

.find input{
    width: 300px;
    padding: 10px 10px;
    border: 0;
    /* border-bottom: 2px solid #ececec; */
    outline: none;
    background-color: #fafafa;
    box-shadow: 0 0 3px #a3a3a3;
    font-size: 13px;
    border-radius: 5px 0 0 5px;
    /* margin: 0!important; */
}

.btn-find{
    font-size: 16px;
    padding: 8.5px 10px;
    box-shadow: 0 0 4px #a3a3a3;
    border-radius: 0 5px 5px 0!important;
}

.tabel{
    width: 100vw;
}

.table{
    width: 100%;
    border-collapse: collapse;
    word-wrap: break-word;
    table-layout: fixed;
}

.table tr th, .table tr td{
    background-color: #f7f7f7;
    height: 100%!important;

}

.btn-crete{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px!important;
    margin: 0 65px 45px 0!important;
    border-radius: 50px;
}

.modal-body{
    display: flex;
    justify-content: center;
}

form#add-data label{
    padding: 0%;
    margin-top: 8px;
    /* display: flex;
    flex-direction: column; */
    /* margin: 12px; */
}

#add-data .wrp{
    /* display: flex; */
    margin: 0 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.action a{
    padding: 5px 20px;
    border-radius: 3px;
    color: #fff;
    transition: .7s;
}

.action a:nth-child(1):hover{
    background-color: #FFA45E;
    color: #fff!important;
}

.action a:nth-child(2):hover{
    background-color: #EC414B;
    color: #fff!important;
}

td:nth-child(7) .action{
    height: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plek{
    display: flex;
    justify-content: center;
    align-items: center;
}
